<!DOCTYPE html>
<html lang="Pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analisador de Urls</title>
    <link rel="stylesheet" href="../Statics/Style.css">
    <link rel="javascript" href="../Statics/Script.js">
</head>

<body>
    <header>
        <img src="../Assets/Design/Logo Security.png" alt="Logo">
        <img src="../Assets/Design/Modo Escuro.png" alt="Lua">
    </header>

    <main>
        <h1>Bem-vindos ao Sistema de <br> Análise de URLs!</h1>

        <article class="Card">
            <img src="../Assets/Design/Escudo Azul.png" alt="Escudo">
            <p>Esta ferramenta auxilia na identificação de possíveis riscos em links antes de acessá-los. O sistema analisa a URL informada e fornece uma classificação de segurança, contribuindo para uma navegação mais segura.</p>
        </article>
        <article class="Card">
            <img src="../Assets/Design/Interrogação.png" alt="Interrogação">
            <p>Como utilizar: <br>
                1 - Digite ou cole a URL no campo de entrada. <br>
                2 - Clique no botão "Analisar". <br>
                3 - Aguarde o processamento da análise. <br>
                4 - Consulte o resultado exibido pelo sistema. 
            </p>
        </article>

        <h2>Insira a sua URL</h2>

        <form action="resultado.html" method="get">
            <div class="Caixa de pesquisa"> 
                <img src="../Assets/Design/Icone Link.png" alt="Icone Link">    
                <input type="url" id="url" placeholder="Digite sua URL..." required>
                <img src="../Assets/Design/Lupa Pesquisa.png" alt="Lupa Pesquisa">
                <button type="submit">Analisar</button>
            </div>
        </form>

        <footer class="Rodape">
            <div id="Rede Sociais">
                <p>Siga os Criadores</p>
                <img src="../Assets/Design/Insta Claro.png" alt="Insta">
                <img src="../Assets/Design/GitHub Claro.png" alt="Git Hub">
                <p>Francisco Dutra</p>
                <img src="../Assets/Design/Insta Claro.png" alt="Insta">
                <img src="../Assets/Design/GitHub Claro.png" alt="Git Hub">
                <p>Vinicius Lima</p>
             </div>

            <div id="Direitos">
                <p>© 2026 URL Security. Todos os direitos reservados. Sistema educacional para análise de segurança de URLs. GitHub: github.com/seuprojeto</p>
            </div>
        </footer>






        
        
    </main>
</body>

</html>